<app-header>Sign Up for an account</app-header>
<form class="ui form error" [formGroup]="signupForm">
  <app-input [control]="signupForm.controls.email" label="Email"></app-input>
  <app-input [control]="signupForm.controls.firstName" label="First name"></app-input>
  <app-input [control]="signupForm.controls.lastName" label="Last name"></app-input>
  <app-input [control]="signupForm.controls.password" label="Password" type="password"></app-input>
  <app-input [control]="signupForm.controls.rePassword" label="Confirm password" type="password"></app-input>
  <ng-container *ngIf="signupForm.controls.password.touched && signupForm.controls.rePassword.touched &&
signupForm.errors">
    <div *ngIf="signupForm.errors.noMatch" class="ui error message">
      Passwords don't match
    </div>
    <div *ngIf="signupForm.errors.commonError" class="ui error message">
      Sign up failed
    </div>
  </ng-container>
  <button (click)="onSubmit()" class="ui primary button mt-1">Sign Up</button>
  <span> Already have an account?  <a routerLink="../">Sign in</a></span>
</form>
