<ng-container *ngIf="user">
  <div class="ui pointing menu">
    <a [class.active]="component == 'info'" (click)="component = 'info'" class="item">
      Info
    </a>
    <a [class.active]="component == 'bookmarks'" (click)="component = 'bookmarks'" class="item">
      Bookmarks {{user.stats.bookmarkCount}}
    </a>
    <a [class.active]="component == 'posts'" (click)="component = 'posts'" class="item">
      My Posts {{user.stats.postCount}}
    </a>
    <a [class.active]="component == 'profile'" *ngIf="auth?.user.id == user.id" (click)="component = 'profile'" class="item">
      Profile
    </a>
  </div>
    <ng-container [ngSwitch]="component">
      <app-info [user]="user" *ngSwitchCase="'info'"></app-info>
      <app-user-posts [userId]="id" *ngSwitchCase="'posts'"></app-user-posts>
      <app-bookmarks [userId]="id" *ngSwitchCase="'bookmarks'"></app-bookmarks>
      <ng-container *ngIf="auth.signedIn">
        <app-profile (updateUser)="updateUser($event)" [user]="user" *ngSwitchCase="'profile'"></app-profile>
      </ng-container>
    </ng-container>
</ng-container>
